%% -*- mode: erlang;erlang-indent-level: 4,indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Core ==

%% Check required OTP release version
{required_min_otp_vsn, "R16B"}.

%% Additional library directories to add to the code path
{lib_dirs, [".deps/*/ebin"]}.

%% == Erlang Compiler ==
{erl_opts, [no_debug_info,
            warnings_as_errors]}.

%% EDoc options
{edoc_opts, []}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, []}.

%% == Cover ==

%% Whether to enable coverage reporting. Default is 'false'
{cover_enabled, true}.

%% Whether to export coverage report to console. Default is 'false'
{cover_print_enabled, false}.

%% Whether to export coverage report to file. Default is 'false'
{cover_export_enabled, true}.

%% == Cleanup ==

%% Which files to cleanup
{clean_files, []}.

%% == OTP Applications ==

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

{deps, [
            {poolboy, "1.1.0",
                {git, "git@github.com:devinus/poolboy.git", {tag, "1.1.0"}}}
]}.

%% == xref ==

{xref_warnings, false}.

%% xref checks to run
{xref_checks, [exports_not_used, undefined_function_calls]}.
