[
    {thrift_pool, [
                    {pools, [
                        {thrift, [
                            {size, 20},
                            {max_overflow, 40}],
                            ["54.237.113.111", 8087, []]
                        }
                    ]},
                    {global_or_local, global}
                ]}
].
