[
    {thrift_pool, [
        {pools, [
            {queueService, 
                [{size, 15}, {max_overflow, 20}],
                ["crawl-queue-manager.datafinitiapp.net", 9092, queueService_thrift, [{framed, true}], 100, 4000]
            }
        ]},
        {retries, 1},
        {global_or_local, global}
    ]}
].
